.PageContentCard {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  overflow-wrap: break-word;
}
.PageContentCard section {
  width: 70%;
  font-weight: 300;
  font-size: 1.2rem;
}
.PageContentCard h1 {
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(255, 58, 58);
  font-weight: 300;
  font-size: 3rem;
  border-bottom: 1px solid black;
}
.PageContentCard h2 {
  color: red;
}
.PageContentCard section span {
  font-weight: 600;
}
.PageContentCard section p {
  margin-bottom: 70px;
}
.PageContentCard section p:nth-of-type(2) {
  display: flex;
  flex-direction: column;
}
.PageContentCard section p:nth-of-type(2) a {
  color: red;
  text-decoration: underline;
}
.PageContentCard section section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------table----------- */
.PageContentCard section table {
  width: 100%;
  /* border: 1px solid black; */
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.PageContentCard section table tr {
  margin-bottom: 20px;
}
.PageContentCard section table th {
  height: 55px;
  background-color: rgb(255, 152, 68);
  color: white;
}
.PageContentCard section table td {
  height: 50px;
  background-color: rgb(189, 189, 189);
  color: red;
}

@media (max-width: 960px) {
  .PageContentCard section {
    width: 90%;
  }
  .PageContentCard section section {
    flex-direction: column;
  }
}
