.Button {
  text-align: center;
  width: 300px;
  padding: 10px;
  margin: 50px;
  border: 1px solid black;
  border-radius: 5px;
  transition: 0.3s;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}
.Button:hover {
  background-color: #222224;
  color: white;
}
