.Navbar {
  height: 80px;
  width: 100%;
  background-color: #222224;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: all 1s;
}
.Navbar main {
  display: flex;
  align-items: center;
  width: 80%;
  height: 100%;
}
.Logo {
  flex-wrap: nowrap;
  height: 70%;
  width: 100%;
  flex: 0.7;
}
.Navbar img {
  max-width: 270px;
  height: 100%;
  border-radius: 5px;
}
.navLink {
  flex: 1;
  white-space: nowrap;
  float: right;
}
.navLink span {
  margin-left: 40px;
}
.navLink a,
.navLink button {
  display: inline-block;
  margin: 0 15px;
}

.navLink button {
  border: none;
  background-color: #222224;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.Navbar a,
.Navbar button {
  color: white;
  position: relative;
  font-weight: lighter;
  font-size: 1.3rem;
}
.Navbar a::after,
.Navbar button::after {
  content: " ";
  height: 2px;
  width: 0%;
  background: white;
  position: absolute;
  bottom: -5px;
  right: 0%;
  transition: 0.3s;
}
.Navbar a:hover::after,
.Navbar button:hover::after {
  width: 100%;
  left: 0%;
}

/*--------------- BURGER MENU-------------- */
.BurgerMenuSection {
  width: 100%;
  display: none;
  justify-content: flex-end;
}

.BurgerMenuDiv div {
  width: 2.8rem;
  height: 2px;
  margin: 0.5rem;
  background-color: white;
  transition: 0.3s;
}

/* ----------OPEN MENU---------- */
.CloseMenu {
  left: -100%;
}
.OpenMenu {
  left: 0%;
}
/* .OpenMenu.navLink button {
  width: 100%;
} */
/* ------------ X ---------------- */
.isOpen div:nth-of-type(1) {
  transform: translateX(-6px) translateY(-6px) rotate(-45deg);
  transform-origin: right;
}
.isOpen div:nth-of-type(2) {
  opacity: 0;
  transform: scale(0);
}
.isOpen div:nth-of-type(3) {
  transform: translateX(6px) translateY(-26px) rotate(45deg);
  transform-origin: left;
}

/* -----MEDIA@@@@@------ */
@media (max-width: 800px) {
  .navLink {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #222224;
    top: 80px;

    text-align: center;
    transition: all 0.5s;
  }
  .navLink a,
  .navLink span {
    display: block;
    line-height: 80px;
    text-align: center;
  }
  .navLink span {
    margin: 0 15px;
  }
  .navLink span button {
    margin: 0 5px;
  }
  .BurgerMenuSection {
    display: flex;
    margin: 50px 0;
    line-height: 30px;
  }
}
@media (max-width: 960px) {
  .navLink button {
    margin-left: 10px;
  }
  .Navbar main {
    width: 90%;
  }
  .Logo {
    flex: 0.4;
  }
}
