.DownInfo {
  width: 100%;
  min-height: 3rem;
  background-color: #222224;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  margin-top: 50px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}

@media (max-width: 500px) {
  .DownInfo span {
    margin: 10px;
  }
}
